<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xiongyu.seckill.dao.SeckillDao">
    <select id="selSeckillById" resultType="cn.xiongyu.seckill.entity.Seckill">
        select * from seckill where seckill_id = #{seckillId}
    </select>
    <select id="selAllSeckill" resultType="cn.xiongyu.seckill.entity.Seckill">
        select * from seckill
    </select>
    <update id="ReduceNumber">
        update seckill set number=number-1
        where seckill_Id=#{seckillId}
        and start_time <![CDATA[ <= ]]> #{killTime}
        and end_time >= #{killTime}
        and number > 0
    </update>
</mapper>